<template>
  <div class="block">
    <div class="header">
      <el-button type="primary" icon="el-icon-circle-plus-outline" size="small" @click="go">订阅设备</el-button>
    </div>
    <div class="button__group">
      <div style="width:100px;">当前设备</div>
      <el-select v-model="curentDevieId" placeholder="请选择" :disabled="pending">
        <el-option
          v-for="item in devices"
          :key="item.device_id"
          :label="item.device_name || item.device_mac"
          :value="item.device_id">
        </el-option>
      </el-select>
    </div>
    <!-- websocket设备状态start -->
    <div class="button__group" v-show="!supportMqtt">
      <div style="width:100px;">设备状态：</div>
      <span :class="isDeviceOnline ? 'online': 'offline'">{{isDeviceOnline ? '在线': '离线'}}</span>
    </div>
    <div class="button__group" v-show="!supportMqtt">
      <div style="width:100px;">连接状态：</div>
      <span v-show="pending">连接中........</span>
      <span :class="websocketConnected ? 'online': 'offline'" v-show="!pending">{{websocketConnected ? '在线': '离线'}}</span>
    </div>
    <!-- websocket设备状态end -->

    <!-- mqtt设备状态start -->
    <div class="button__group" v-show="supportMqtt">
      <div style="width:100px;">设备状态：</div>
      <span :class="isOnline ? 'online': 'offline'" >{{isOnline ? '在线': '离线'}}</span>
    </div>

    <div class="button__group" v-show="supportMqtt">
      <div style="width:100px;">连接状态：</div>
      <span v-show="pending">连接中........</span>
      <span :class="mqttConnected ? 'online': 'offline'" v-show="!pending">{{mqttConnected ? '在线': '离线'}}</span>
    </div>
    <!-- mqtt设备状态end -->
    

    <el-table
      class="mt30 table"
      :data="dataPoint"
      border>
      <el-table-column prop="index" label="索引" ></el-table-column>
      <el-table-column  label="端点值" prop="value"></el-table-column>
    </el-table>

    <div class="button__group">
      <el-button type="primary" @click="dialogFormVisible = true"  size="small" class="mt10">单个修改数据端点</el-button>
      <el-button type="primary" @click="dialogDeviceLogs = true"  size="small" class="mt10" :disabled="!supportMqtt">显示设备日志</el-button>
      <el-button type="primary" @click="dialogDevicesync = true"  size="small" class="mt10" :disabled="supportMqtt">发送透传</el-button>
    </div>
    
    
    <!-- Form -->
    <el-dialog title="单个修改数据端点" :visible.sync="dialogFormVisible" size="full">
      <el-form :model="form" ref="form" :rules="rules" label-width="">
        <el-form-item label="index" prop="index">
          <el-input v-model="form.index" size="mini"></el-input>
        </el-form-item>
        
        <el-form-item label="类型" prop="type" v-if="supportMqtt">
          <el-select v-model="form.type" placeholder="请选择类型" style="width:100%;">
            <el-option :label="item.label" :value="item.value" v-for="item in DATAPOINT_TYPES" :key="item.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="value" prop="value">
          <el-input v-model="form.value" size="mini"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false" size="small">取 消</el-button>
        <el-button type="primary" @click="onSubmit" size="small">确 定</el-button>
        
      </div>
    </el-dialog>
    
    <el-dialog title="设备日志" :visible.sync="dialogDeviceLogs" size="full">
      <el-collapse v-model="activeName" accordion  style="text-align:left;">
        <el-collapse-item :title="item.time" :name="index + 1" v-for="(item, index) in logs" :key="item.timestamp">
          <p style="word-wrap:break-word;">{{item.msg}}</p>
        </el-collapse-item>
      </el-collapse>
    </el-dialog>

    <!-- 数据透传 -->
    <el-dialog title="数据透传" :visible.sync="dialogDevicesync" size="full">
      <el-form :model="pipeFrom" ref="pipeFrom" :rules="pipeFromrules" label-width="">
        <el-form-item label="pipeSync" prop="pipeSync">
          <el-input v-model="pipeFrom.pipeSync" size="mini" placeholder="以(255, 0, 2, 3, 5, 254)格式发送(0-255)"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogDevicesync = false" size="small">取 消</el-button>
        <el-button type="primary" @click="sendPipe" size="small">确 定</el-button>      
      </div>
    </el-dialog>
  </div>
</template>

<script>
import api from '@/api'
import _ from 'lodash'
import XSDK from 'static/xsdk'
const DATAPOINT_TYPES = [
  { value: '1', label: '布尔类型' },
  { value: '2', label: '单字节(无符号)', min: 0, max: 255 },
  { value: '3', label: '16位短整型(有符号)', min: -32768, max: 32767 },
  { value: '4', label: '32位整型(有符号)', min: -2147483648, max: 2147483647 },
  { value: '5', label: '浮点', min: -9223372036854775808, max: 9223372036854775807 },
  { value: '6', label: '字符串' },
  { value: '7', label: '字节数组(暂不支持微信端)' },
  { value: '8', label: '16位短整型(无符号)', min: 0, max: 65535 },
  { value: '9', label: '32位整型(无符号)', min: 0, max: 4294967295 }
]
export default {
  name: 'hello',

  data () {
    return {
      DATAPOINT_TYPES,
      ws: null,
      isDeviceOnline: false, // websocket实时的连接连接状态
      supportMqtt: true,
      mqttConnected: false,
      dialogFormVisible: false,
      dialogDeviceLogs: false,
      dialogDevicesync: false,
      websocketConnected: false,
      pending: false,
      productId: '',
      activeName: '1',
      curentDevieId: '',
      vDevice: {},
      oldVdevice: {},
      curentXsdk: {},
      logs: [],
      devices: [],
      dataPoint: [],
      devicesEvents: [],
      form: {
        index: '',
        value: '',
        type: ''
      },
      rules: {
        value: [
          { required: true, message: '请输入数据端点的值', trigger: 'blur' }
        ],
        type: [
          { required: true, message: '请选择类型', trigger: 'change' }
        ],
        index: [
          { required: true, message: '请输入数据端点的序号', trigger: 'blur' }
        ]
      },
      pipe: [],
      pipeFrom: {
        pipeSync: ''
      },
      pipeFromrules: {
        pipeSync: [
          { required: true, message: '请输入数据端点的值', trigger: 'blur' }
        ]
      }
    }
  },

  computed: {
    isOnline () {
      return this.vDevice.online
    }
  },

  watch: {
    async curentDevieId (val) {
      if (!val || this.pending) return
      this.dataPoint = []
      let find = _.find(this.devices, {device_id: val})
      if (!find) return
      this.oldVdevice = _.cloneDeep(this.vDevice)
      await this.fetchVDevice(find.device_pid, find.device_id)
      this.supportMqtt = this.vDevice.conn_prot === 2
      this.isDeviceOnline = this.vDevice.conn_prot === 1 ? this.vDevice.online : false
      if (!this.vDevice.online) return

      // 两次的端口协议不相同时，销毁上一个实例
      if (this.oldVdevice.conn_prot !== this.vDevice.conn_prot) {
        if (this.oldVdevice.conn_prot === 1) {
          // 关闭上一次的实例
          this.destorySdk(false)
        } else if (this.oldVdevice.conn_prot === 2) {
          this.destorySdk(true)
        }
      }

      this.pending = false
      if (this.vDevice.conn_prot === 2) {
        if (!this.mqttConnected) {
          try {
            this.pending = true
            await this.initXsdk()
            this.pending = false
          } catch (error) {
            this.pending = false
            this.$message.error('连接失败')
            return
          }
        }
        let curentXsdk = _.find(this.devicesEvents, {id: val})
        if (!curentXsdk) return
        this.curentXsdk = curentXsdk
        this.fetchDatapoint(curentXsdk)
        this.fetchDeviceLogs(curentXsdk)
        this.listenDatapoint(curentXsdk)
      } else {
        if (!this.websocketConnected) {
          try {
            this.pending = true
            await this.initXsdk()
            this.pending = false
          } catch (error) {
            this.pending = false
            this.$message.error('连接失败')
            return
          }
        }
        let curentXsdk = _.find(this.devicesEvents, {id: val})
        if (!curentXsdk) return
        this.curentXsdk = curentXsdk
        this.fetchDatapoint(curentXsdk)
        this.listenDatapoint(curentXsdk)
        this.deviceStateChange(curentXsdk)
      }
    }
  },

  beforeDestroy () {
    this.destorySdk(this.supportMqtt)
  },

  mounted () {
    this.fetchDeviceList()
    // this.initXsdk()
  },

  methods: {
    // 获取设备列表
    async fetchDeviceList () {
      let {data} = await api.fetchDeviceList(window.localStorage.userId)
      this.devices = data.map(item => {
        return {
          device_id: item.id,
          device_name: item.name,
          device_mac: item.mac,
          device_pid: item.product_id
        }
      })
      if (!this.devices.length) return
      this.productId = this.devices[0].device_pid
      this.curentDevieId = this.devices[0].device_id
    },

    // 初始化sdk
    initXsdk () {
      return new Promise((resolve, reject) => {
        this.onlineStatus(false)

        if (this.supportMqtt) {
          console.log('mqtt')
          this.ws = new XSDK('mqtt', {
            type: 'app',
            userid: window.localStorage.getItem('userId'),
            authorize: window.localStorage.getItem('authorize'),
            host: 'wss://cm.iworkgo.com/mqtt',
            // userid: '452873877',
            // authorize: 'RjE1QjkxMDQyMjczNTMyRTNFNEMwNUY4QzZCQTQ3MDc0QzI3MTgwNkYwRUI3QjE3OENCRkExNjhGRDFFOTk5Mw==',
            keepAliveInterval: 360
          })
        } else {
          console.log('websocket')
          this.ws = new XSDK('websocket', {
            host: 'http://cm2.xlink.cn:23777',
            userid: window.localStorage.getItem('userId'),
            authorize: window.localStorage.getItem('authorize'),
            dp_version: 2
          })
        }

        this.ws.on('ready', () => {
          this.onlineStatus(true)
          console.log('开机成功')
          this.ws.emit('adddevices',
            this.devices
          )
        })
        .on('devicesready', (devices) => {
          this.devicesEvents = devices
          console.log('设备就绪')
          resolve()
        })
        .on('error', (err) => {
          console.log(err)
          // mqtt失败时，重置已经关机(重置)，websocket并不会关机，而是继续开机,所以不用做错误的处理
          if (this.supportMqtt) {
            this.mqttConnected = false
            this.ws = null
            this.devicesEvents = []
            reject(err)
          }
        })
      })
    },

    // 获取设备端点值
    fetchDatapoint (socketObj) {
      if ((this.supportMqtt && !this.mqttConnected) || (!this.supportMqtt && !this.websocketConnected)) {
        console.log('设备已经断开')
        return
      }
      socketObj.emit('probe', (res) => {
        console.log(res)
        if (!this.supportMqtt && res.status === 0) {
          this.isDeviceOnline = true
        }
        // {data: [{index: 0, value: 0 ,type: 0}], deviceId: 11}
        // if (this.curentDevieId !== res.deviceId) return
        if (res.data) {
          this.dataPoint = res.data.map(item => {
            return {
              index: item.index,
              value: item.value + ''
            }
          })
        }
      })
      socketObj.on('error', (err) => {
        console.log(err)
      })
    },

    // 获取设备端点值
    fetchDeviceLogs (socketObj) {
      if ((this.supportMqtt && !this.mqttConnected) || (!this.supportMqtt && !this.websocketConnected)) {
        console.log('设备已经断开')
        return
      }
      socketObj.emit('log', (res) => {
        console.log(res)
        if (res.data) {
          let obj = _.cloneDeep(res.data)
          obj.time = new Date(obj.timestamp).toString()
          this.logs.push(obj)
        }
      })
    },

    // 监听数据端点发生的变化
    listenDatapoint (socketObj) {
      if ((this.supportMqtt && !this.mqttConnected) || (!this.supportMqtt && !this.websocketConnected)) {
        console.log('设备已经断开')
        return
      }
      socketObj.on('data', (res) => {
        console.log(res)
        // {data: [{index: 0, value: 0 ,type: 0}], deviceId: 11, type: 'datapoint}
        if (this.curentDevieId !== res.deviceId) return
        if (res.type === 'datapoint' && res.data.length) {
          let {data} = res
          this.updateDatapoint(data)
        }

        // 仅支持websocket
        if (res.type === 'pipe_sync' && res.data.length) {
          let {data} = res
          console.log(data)
          this.pipe = data
          this.pipeFrom.pipeSync = data.join(',')
        }
      })
    },

    // 更新数据端点
    updateDatapoint (data) {
      data.forEach(changData => {
        if (!this.dataPoint.length) {
          this.dataPoint.push({
            index: changData.index,
            value: changData.value + ''
          })
        } else {
          this.dataPoint.forEach((item, index) => {
            if (item.index === changData.index) {
              this.dataPoint.splice(index, 1, {
                index: changData.index,
                value: changData.value + ''
              })
            }
          })
        }
      })
    },

    // 提交单个数据端点
    onSubmit () {
      if ((this.supportMqtt && !this.mqttConnected) || (!this.supportMqtt && !this.websocketConnected)) {
        console.log('设备不在线')
        return
      }
      // 应用设置数据端点
      this.$refs.form.validate(valid => {
        if (!valid) return
        let val = this.form.value
        if (val === 'true' || val === 'false') {
          val = val === 'true'
        }
        let data = []
        let obj = {
          index: this.form.index * 1, // 必须整型
          value: val
        }
        if (this.supportMqtt) {
          obj.type = this.form.type
        }
        data.push(obj)
        if (data.some(item => item.type === 0)) {
          return
        }
        console.log(data)

        this.curentXsdk.emit('senddata', { // 发送数据端点数据
          type: 'datapoint',
          data
        }, (res) => {
          console.log(res)
          // {status: 0, msg: "datapoint set successfully"}
          if (res.status === 0) {
            this.$message('发送成功')
            let find = _.find(this.dataPoint, {index: this.form.index - 0})
            if (!find) return
            // 设备不会上报云端需要自动更新
            find.value = this.form.value
          }
        })
        this.dialogFormVisible = false
      })
    },

    // 销毁sdk实例
    destorySdk (bolean) {
      if (bolean) {
        if (this.ws && this.mqttConnected) {
          this.ws.emit('destory')
          this.mqttConnected = false
        }
      } else {
        if (this.ws && this.websocketConnected) {
          this.ws.emit('destory')
          this.websocketConnected = false
        }
      }

      this.ws = null
      this.devicesEvents = []
    },

    // wesocket发送透传数据
    sendPipe () {
      if (this.supportMqtt) return
      if (!this.isOnline || !this.pipeFrom.pipeSync) {
        console.log('设备不在线，或者透传为空')
        return
      }
      this.$refs.pipeFrom.validate(valid => {
        if (!valid) return
        let pipeSync = this.pipeFrom.pipeSync.split(',')
        console.log(pipeSync)
        // 透传FF 00 02 03 05 FE
        this.curentXsdk.emit('senddata', {
          type: 'pipe',
          data: pipeSync
        }, (res) => {
          if (res.status === 0) {
            // 发送成功
            this.$message('发送成功')
            this.dialogDevicesync = false
          }
        })
      })
    },

    // wesocket设备发生变化
    deviceStateChange (socketObj) {
      if (this.supportMqtt) return
      socketObj.on('statuschange', (status) => {
        console.log('deviceChange')
        this.isDeviceOnline = status === 1
      })
    },

    // 改变sdk连接的状态
    onlineStatus (bol) {
      if (this.supportMqtt) {
        this.mqttConnected = bol
      } else {
        this.websocketConnected = bol
      }
    },

    // 获取设备在线信息
    async fetchVDevice (productId, deviceId) {
      try {
        let {data} = await api.getVDevice(productId, deviceId)
        this.vDevice = data
      } catch (error) {
        this.vDevice = {}
      }
    },

    go () {
      this.$router.push('/user-bind-device')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header {
  display: flex;
  padding-top: 10px;
  justify-content: flex-start;
  box-sizing: border-box;
}
.block {
  height:100%;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  text-align: left;
}
.table {
  width: 600px;
}
.mt30 {
  margin-top: 30px;
}
.mt10 {
  margin-top:10px; 
}
.button__group {
  padding:10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.online {
  color: green;
}
.offline {
  color: red;
}
</style>
